bokeh==2.4.1
colour==0.1.5
fitz==0.0.1.dev2
networkx==2.6.3
numpy==1.19.3
pandas==1.1.4
Pillow==9.1.1
requests==2.27.1
scipy==1.7.3
streamlit==1.10.0
streamlit_authenticator==0.1.4
streamlit_lottie==0.0.3
tqdm==4.24.0
protobuf==3.20.1
